<div class="fill-nav">    
    <div class="container">
        <div class="nav d-flex jcsb aic ">
                <div class="nav1 ">    
                    <img src="https://github.com/lily55168/week3-1/blob/main/pic-week3/logo-white.png?raw=true" width="80px">         
                </div>
                <div class="nav2 ">
                    <ul class="d-flex">
                        <li>系列鏡框</li>
                        <li>門市據點</li>
                        <li>&thinsp;&thinsp;&thinsp;部落格&thinsp;&thinsp;</li>
                        <a href="https://github.com/lily55168/week4/blob/main/pages/faq.html"></a><li>常見問題</li></a>
                    </ul>
                </div>  
        </div>  
    </div>
</div>
